.App {
  text-align: center;
}

.App-header {
  background-color: #0073bb;
  padding: 20px;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.App-header h1 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

.App-header h2 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.App-header p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.App-header ul {
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
}

.App-header a {
  color: #0073bb;
  text-decoration: none;
  font-weight: bold;
}

.App-header a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .App-header {
    font-size: calc(8px + 2vmin);
    padding: 10px;
  }
  
  .App-header h1 {
    font-size: 2rem;
  }
  
  .App-header h2 {
    font-size: 1.3rem;
  }
}
